.mail-index li {
    list-style-type: none;
}

.mail-index li:nth-child(odd) {
    display: flex;
    background-color: #ffffff;
    padding-block: .5em;
    font-size: large;
}

.mail-index li:nth-child(even) {
    display: flex;
    background-color: #f2f6fc;
    padding-block: .5em;
    font-size: large;
}