.modal {
  max-height: 80vh;
  position: relative;
  border: 1px solid lightgray;
  overflow: auto;
  border-radius: 8px;

  .btn-close {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }
}