.note-container {
  display: flex;

}

.sidebar {
  padding-block-start: .5em;
  width: 4em;
  font-weight: bold;
  overflow: hidden;
  transition: width .2s;
  transition-delay: 0;

  &:hover {
    width: 17.5em;
    transition-delay: .35s;

    .icon-container.active {
      border-radius: 0 25px 25px 0;
      width: auto;
    }

  }

  .icon-container {
    display: flex;
    align-items: center;
    gap: .5em;
    margin-inline-start: 0.5em;
    border-radius: 0 25px 25px 0;
    height: 3em;

    &.active {
      background-color: var(--active);
      border-radius: 50%;
      width: 3em;
    }

    label {
      font-size: .875em;
    }

    &:hover:not(.active) {
      background-color: var(--hover);
    }
  }


  .icon {
    font-size: 1.5em;
    width: 1.5em;
    min-width: 1.5em;
    text-align: center;
    padding-inline: .25em;
    justify-content: center;
  }
}

.main-container {
  width: 100%;
  overflow: hidden;
}